/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: transform 250ms ease-in-out, height 250ms ease;
	-moz-transition: transform 250ms ease-in-out, height 250ms ease;
	-ms-transition: transform 250ms ease-in-out, height 250ms ease;
	transition: transform 250ms ease-in-out, height 250ms ease;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
    display: inline-block;
	position: relative;
	width: 190px;
    margin-right: -4px;
	cursor: pointer;
	background: transparent;
    padding: 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

    vertical-align: top;
}

.dropdown:hover,
.dropdown.open {
    border-color: #9eca16;
}

.dropdown.open {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.dropdown:hover .selected,
.dropdown.open .selected {
    color: #9eca16;
}

.dropdown:hover .carat,
.dropdown.open .carat {
    border-color: #9eca16 transparent transparent transparent;
}

.dropdown.open{
	z-index: 2;
}


/* CARAT */

.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -1px;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: #666 transparent transparent transparent;
    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}


/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: 5px;
	background: transparent;
    border: none;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
    box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.05);
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
    border: 1px solid #9eca16;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
    padding: 0;
    margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 10px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	color: #9eca16;
}

.dropdown li.active{
	color: #9eca16;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  overflow-y: scroll;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.promo {
  min-height: 1115px;
  padding-top: 85px;
  text-align: center;
  background: url('../img/bg-promo.jpg') no-repeat center top;
  background-size: cover;
}
.promo-logo {
  margin: 0;
  font-size: 14px;
}
.promo-logo-img {
  display: block;
  margin: 0 auto 15px;
}
.webnote-info {
  margin-top: -293px;
  padding-bottom: 65px;
  text-align: center;
}
.webnote-info-arrow {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url('../img/icon-arrow.png') no-repeat center center #ebf2f5;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff;
  cursor: pointer;
}
.webnote-info-text {
  width: 700px;
  margin: 45px auto 20px;
  font-size: 14px;
  color: #c4c4c4;
}
.webnote-info-description {
  width: 830px;
  margin: 55px auto 0;
  font-size: 18px;
}
.webnote-news {
  font-size: 14px;
  text-decoration: none;
  color: #2194dd;
  border-bottom: 1px solid #2194dd;
}
.webnote-news:hover {
  border-color: transparent;
}
.advantages {
  padding-bottom: 85px;
}
.advantages .container {
  padding: 50px 0;
  background: #f8f5e4;
}
.advantages-slider {
  position: relative;
  width: 830px;
  margin: 0 auto;
}
.advantages-slider .slick-dots {
  left: 275px;
  bottom: 0;
  padding: 13px 17px;
  background: #fff;
  border-radius: 30px;
}
.advantages-slider .slick-dots li {
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 1px solid #262626;
  opacity: 0.2;
}
.advantages-slider .slick-dots li.slick-active {
  opacity: 1;
  background: #262626;
}
.advantages-img {
  width: 210px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.advantages-img img {
  border-radius: 50%;
  border: 7px solid #f8f5e4;
}
.advantages-content {
  width: 620px;
  padding-top: 15px;
  padding-left: 65px;
}
.advantages-content p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 21px;
}
.advantages-title {
  font-size: 26px;
  font-weight: 500;
}
.slick-slide {
  outline: none;
}
.slick-dots {
  position: absolute;
  margin: 0;
  list-style: none;
}
.slick-dots li {
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots button {
  display: none;
}
.preorder-special {
  padding: 30px 0;
  color: #fff;
  background: #46b7ff;
  text-align: center;
}
.preorder-special .container {
  width: 750px;
}
.preorder-special-info,
.preorder-special-price,
.preorder-special-get {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.preorder-special-info {
  font-size: 20px;
  text-align: left;
}
.preorder-special-info p {
  margin: 0 0 10px;
}
.preorder-special-info small {
  display: block;
  font-size: 12px;
  color: #bce5ff;
}
.preorder-special-price {
  margin: 0 40px;
}
.preorder-special-price span {
  display: block;
}
.special-price,
.preorder-price {
  font-size: 40px;
  font-weight: 500;
}
.default-price {
  padding-top: 2px;
  color: #bce5ff;
  text-decoration: line-through;
}
.button {
  display: inline-block;
  margin-right: -4px;
  padding: 19px 40px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 45px;
}
.button:active {
  position: relative;
  top: 2px;
}
.preorder-special-get {
  color: #fff;
  border: 2px solid #fff;
}
.preorder-special-get:hover {
  background: #fff;
  color: #46b7ff;
}
.preorder {
  padding: 85px 0;
  background: #f1f5f7;
}
.preorder .container:first-child {
  padding: 145px 125px 80px 200px;
  background: #fff;
  border-radius: 2px 2px 0 0;
}
.preorder .container:last-child {
  padding: 0 100px 95px;
  background: #fff;
  border-radius: 0 0 2px 2px;
}
.preorder-slider {
  width: 225px;
  box-shadow: 1px 6px 10px 5px rgba(38, 38, 38, 0.1);
}
.preorder-slider .slick-dots {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}
.preorder-slider .slick-dots li {
  display: block;
  width: 22px;
  height: 22px;
  margin: 10px 0;
  border: 6px solid;
  border-radius: 50%;
}
.preorder-slider .slick-dots li:first-of-type {
  background: #262626;
  border-color: #262626;
}
.preorder-slider .slick-dots li:last-of-type {
  background: #ffe21f;
  border-color: #ffe21f;
}
.preorder-slider .slick-dots li.slick-active {
  background: #fff;
}
.preorder-img {
  width: 225px;
}
.preorder-content {
  padding-left: 90px;
  padding-top: 15px;
}
.preorder-title {
  font-size: 30px;
  font-weight: 500;
}
.preorder-attr {
  margin: 30px 0px;
  padding: 0;
  list-style: none;
}
.preorder-attr li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
}
.preorder-attr li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  border: 1px solid #262626;
  border-radius: 50%;
  opacity: 0.4;
}
.preorder-attr li:last-child {
  margin-bottom: 0;
}
.preorder-price,
.preorder-get,
.preorder-quantity {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.preorder-price {
  font-weight: 700;
  line-height: 1;
}
.preorder-price span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
}
.preorder-get {
  margin: 0 40px;
  color: #262626;
  background: #ffe21f;
  border: none;
  box-shadow: 0 2px 0 1px #cfb60e;
}
.preorder-get:active {
  box-shadow: none;
}
.preorder-quantity {
  font-size: 12px;
  line-height: 17px;
  color: #898989;
}
.webnote-pages-slider {
  margin: 0 -15px 0;
}
.webnote-pages-slider a[data-lightbox] {
  display: block;
  margin: 0 15px;
}
.webnote-pages-slider img {
  display: block;
  width: 100%;
  height: auto;
}
.webnote-pages-slider .slick-dots {
  display: block;
  width: 100%;
  bottom: -45px;
  text-align: center;
  padding: 0;
  list-style: none;
}
.webnote-pages-slider .slick-dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 1px solid #262626;
  opacity: 0.2;
}
.webnote-pages-slider .slick-dots li.slick-active {
  opacity: 1;
  background: #262626;
}
.info {
  padding: 85px 0;
}
.info-delivery,
.info-start {
  width: 50%;
  padding: 0 50px 0 100px;
}
.info-delivery h3,
.info-start h3 {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 500;
}
.info-delivery p,
.info-start p {
  margin: 18px 0;
  font-size: 14px;
  line-height: 21px;
}
.info-delivery p:last-of-type,
.info-start p:last-of-type {
  margin-bottom: 0;
}
.info-delivery {
  background: url('../img/icon-delivery.png') no-repeat left 25px top;
}
.info-start {
  background: url('../img/icon-start.png') no-repeat left 25px top;
}
.vk-group {
  padding: 40px 0;
  color: #fff;
  background: #4c75a3;
  text-align: center;
}
.vk-group img {
  margin-right: 10px;
  vertical-align: -2px;
}
.vk-group p {
  margin: 0;
  font-size: 20px;
}
.vk-group a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.vk-group a:hover {
  border-color: transparent;
}
.support {
  padding: 70px 0;
  text-align: center;
}
.support p {
  width: 415px;
  margin: 0 auto 20px;
  font-size: 14px;
}
footer {
  padding: 30px 0;
  background: #ebf2f5;
  text-align: center;
}
footer small {
  font-size: 14px;
  color: #b4b8bb;
}
.order-page {
  background: #f2f5f7;
}
.order .container {
  width: 1010px;
  padding: 65px 70px 70px;
  background: #fff;
  border-radius: 2px;
}
.order-status {
  text-align: center;
}
.order-status h5 {
  margin: 25px 0 20px;
}
.order-logo {
  display: block;
  width: 140px;
  margin: 40px auto;
}
.order-form label {
  display: block;
  margin-bottom: 5px;
}
.order-form label.required:after {
  content: '*';
  margin-left: 5px;
  color: #cb4c4c;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form input[type=number],
.order-form textarea,
.order-form label {
  font-size: 14px;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form input[type=number],
.order-form textarea {
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
}
.order-form input[type=number] {
  width: 100px;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel] {
  width: 270px;
}
.order-form textarea {
  display: block;
  width: 100%;
  height: 90px;
  resize: none;
}
.order-form fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}
.order-form fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.order-form fieldset ul li {
  display: inline-block;
  vertical-align: top;
}
.order-form fieldset ul li:last-child {
  margin-right: 0;
}
.order-form input[type=radio] {
  display: none;
}
.order-form input[type=radio] + label {
  cursor: pointer;
}
.order-form input[type=radio] + label:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 50%;
  vertical-align: middle;
}
.order-form input[type=radio]:checked + label:before {
  background: #262626;
}
.order-form .dropdown {
  width: 270px;
  margin-right: 0;
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
}
.order-form .dropdown.open {
  border-radius: 25px 25px 0 0;
}
.order-form .dropdown .selected,
.order-form .dropdown li {
  font-size: 14px;
  line-height: normal;
  color: #262626;
}
.order-form .dropdown .carat {
  width: 9px;
  height: 5px;
  right: 20px;
  margin-top: -2.5px;
  background: url('../img/icon-arrow.png') no-repeat center center;
  background-size: 100% 100%;
  border: none;
}
.order-form .dropdown.open .carat,
.order-form .dropdown:hover .carat {
  border-color: #262626;
}
.order-form .dropdown div {
  border: 2px solid #e5e5e5;
  background: #fff;
  border-radius: 0 0 25px 25px;
  box-shadow: none;
}
.order-form .dropdown div li {
  display: block;
  margin: 0;
  padding: 10px 20px;
}
.order-form .dropdown div li:hover {
  color: #2194dd;
}
.order-form-title {
  margin: 0 0 5px;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
}
.order-form-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.order-form-quantity {
  margin-top: 55px;
}
.order-form-quantity ul li {
  margin-right: 15px;
}
.order-form-quantity ul li:nth-child(2) {
  margin-right: 32px;
}
.label {
  display: block;
  width: 21px;
  height: 21px;
  margin: 15px auto 0;
  background: #fff;
  border: 6px solid;
  border-radius: 50%;
}
.black-label {
  border-color: #262626;
}
.yellow-label {
  border-color: #ffe21f;
}
.order-form-contactinfo {
  margin-top: 25px;
}
.order-form-contactinfo ul li {
  margin-right: 25px;
}
.order-form-delivery {
  margin-top: 40px;
}
.order-form-delivery ul li {
  margin-right: 35px;
}
.order-form-delivery-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.order-form-delivery-info {
  display: none;
  margin-top: 20px;
}
.order-form-delivery-info p {
  margin: 0;
  font-size: 18px;
}
.order-form-delivery-info ul li {
  margin-right: 25px;
}
.order-form-delivery-info.active {
  display: block;
}
.order-form-comment {
  margin-top: 40px;
}
.order-form-checkout {
  margin-top: 40px;
  padding: 35px 45px;
  background: #f2f5f7;
  border-radius: 2px;
}
.order-form-checkout-left,
.order-form-checkout-right {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.order-form-checkout-right {
  text-align: right;
}
.order-form-checkout-price {
  margin: 2px 0 0;
  font-size: 14px;
}
.order-form-checkout-price span {
  font-size: 20px;
  font-weight: 500;
}
.order-form-checkout-get {
  width: 280px;
  margin: 0;
  padding: 14.5px 40px;
  text-align: center;
}
.counters {
  margin-top: 15px;
}
.counters .container {
  width: 1010px;
}
.modal {
  position: relative;
  width: 770px;
  margin: 0 auto;
  padding: 90px 130px;
  background: #fff;
  border-radius: 2px;
  text-align: center;
}
.modal .mfp-close.mfp-close {
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  background: #f1f5f7;
  border-radius: 50%;
  opacity: 1;
}
.modal .mfp-close.mfp-close:hover {
  opacity: 0.8;
}
.modal h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.modal h5 {
  margin: 25px 0 30px;
  font-size: 14px;
  font-weight: 400;
}
.modal a {
  margin-left: 0;
  margin-right: 0;
}
#preorder-stopped h5 {
  margin-bottom: 0;
}
