*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

a {
    outline: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, dl, dd {
  margin: 0;
}

strong, b {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

input,
textarea,
select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  overflow-y: scroll;
  //overflow-x: hidden;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
