// #promo block
.promo {
    min-height: 1115px;
    padding-top: 85px;
    text-align: center;
    background: url('../img/bg-promo.jpg') no-repeat center top;
    background-size: cover;
}

.promo-logo {
    margin: 0;
    font-size: 14px;
}

.promo-logo-img {
    display: block;
    margin: 0 auto 15px;
}

// #webnote info block
.webnote-info {
    margin-top: -293px;
    padding-bottom: 65px;
    text-align: center;
}

.webnote-info-arrow {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('../img/icon-arrow.png') no-repeat center center #ebf2f5;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
    cursor: pointer;
}

.webnote-info-text {
    width: 700px;
    margin: 45px auto 20px;
    font-size: 14px;
    color: #c4c4c4;
}

.webnote-info-description {
    width: 830px;
    margin: 55px auto 0;
    font-size: 18px;
}

.webnote-news {
    font-size: 14px;
    text-decoration: none;
    color: #2194dd;
    border-bottom: 1px solid #2194dd;

    &:hover {
        border-color: transparent;
    }
}

// #advantages block
.advantages {
    padding-bottom: 85px;

    .container {
        padding: 50px 0;
        background: #f8f5e4;
    }
}

.advantages-slider {
    position: relative;
    width: 830px;
    margin: 0 auto;

    .slick-dots {
        left: 275px;
        bottom: 0;
        padding: 13px 17px;
        background: #fff;
        border-radius: 30px;

        li {
            float: left;
            width: 12px;
            height: 12px;
            margin: 0 4px;
            border: 1px solid #262626;
            opacity: 0.2;

            &.slick-active {
                opacity: 1;
                background: #262626;
            }
        }
    }

}

.advantages-img {
    width: 210px;
    border-radius: 50%;
    border: 3px solid #fff;

    img {
        border-radius: 50%;
        border: 7px solid #f8f5e4;
    }
}

.advantages-content {
    width: 620px;
    padding-top: 15px;
    padding-left: 65px;

    p {
        margin: 20px 0;
        font-size: 14px;
        line-height: 21px;
    }
}

.advantages-title {
    font-size: 26px;
    font-weight: 500;
}

.slick-slide {
    outline: none;
}

.slick-dots {
    position: absolute;
    margin: 0;
    list-style: none;

    li {
        border-radius: 50%;
        cursor: pointer;
    }

    button {
        display: none;
    }
}

// #preorder-special block
.preorder-special {
    padding: 30px 0;
    color: #fff;
    background: #46b7ff;
    text-align: center;

    .container {
        width: 750px;
    }
}

.preorder-special-info,
.preorder-special-price,
.preorder-special-get {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.preorder-special-info {
    font-size: 20px;
    text-align: left;

    p {
        margin: 0 0 10px;
    }

    small {
        display: block;
        font-size: 12px;
        color: #bce5ff;
    }
}

.preorder-special-price {
    margin: 0 40px;

    span {
        display: block;
    }
}

.special-price,
.preorder-price {
    font-size: 40px;
    font-weight: 500;
}

.default-price {
    padding-top: 2px;
    color: #bce5ff;
    text-decoration: line-through;
}

.button {
    display: inline-block;
    margin-right: -4px;
    padding: 19px 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 45px;

    &:active {
        position: relative;
        top: 2px;
    }
}

.preorder-special-get {
    color: #fff;
    border: 2px solid #fff;

    &:hover {
        background: #fff;
        color: #46b7ff;
    }
}

// #preorder block
.preorder {
    padding: 85px 0;
    background: #f1f5f7;

    .container:first-child {
        padding: 145px 125px 80px 200px;
        background: #fff;
        border-radius: 2px 2px 0 0;
    }

    .container:last-child {
        padding: 0 100px 95px;
        background: #fff;
        border-radius: 0 0 2px 2px;
    }
}

.preorder-slider {
    width: 225px;
    box-shadow: 1px 6px 10px 5px fade(#262626, 10%);

    .slick-dots {
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;

        li {
            display: block;
            width: 22px;
            height: 22px;
            margin: 10px 0;
            border: 6px solid;
            border-radius: 50%;

            &:first-of-type {
                background: #262626;
                border-color: #262626;
            }
            &:last-of-type {
                background: #ffe21f;
                border-color: #ffe21f;
            }
            &.slick-active {
                background: #fff;
            }
        }
    }
}

.preorder-img {
    width: 225px;
}

.preorder-content {
    padding-left: 90px;
    padding-top: 15px;
}

.preorder-title {
    font-size: 30px;
    font-weight: 500;
}

.preorder-attr {
    margin: 30px 0px;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        font-size: 14px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 7px;
            height: 7px;
            margin-top: -4px;
            border: 1px solid #262626;
            border-radius: 50%;
            opacity: 0.4;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.preorder-price,
.preorder-get,
.preorder-quantity {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.preorder-price {
    font-weight: 700;
    line-height: 1;

    span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: #898989;
    }
}

.preorder-get {
    margin: 0 40px;
    color: #262626;
    background: #ffe21f;
    border: none;
    box-shadow: 0 2px 0 1px #cfb60e;

    &:active {
        box-shadow: none;
    }
}

.preorder-quantity {
    font-size: 12px;
    line-height: 17px;
    color: #898989;
}

// #pages slider
.webnote-pages-slider {
    margin: 0 -15px 0;

    a[data-lightbox] {
        display: block;
        margin: 0 15px;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .slick-dots {
        display: block;
        width: 100%;
        bottom: -45px;
        text-align: center;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 4px;
            border: 1px solid #262626;
            opacity: 0.2;

            &.slick-active {
                opacity: 1;
                background: #262626;
            }
        }
    }
}

// #info block
.info {
    padding: 85px 0;
}

.info-delivery,
.info-start {
    width: 50%;
    padding: 0 50px 0 100px;

    h3 {
        margin-top: 10px;
        margin-bottom: 35px;
        font-size: 26px;
        font-weight: 500;
    }

    p {
        margin: 18px 0;
        font-size: 14px;
        line-height: 21px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.info-delivery {
    background: url('../img/icon-delivery.png') no-repeat left 25px top;
}

.info-start {
    background: url('../img/icon-start.png') no-repeat left 25px top;
}

// #vk goroup block
.vk-group {
    padding: 40px 0;
    color: #fff;
    background: #4c75a3;
    text-align: center;

    img {
        margin-right: 10px;
        vertical-align: -2px;
    }

    p {
        margin: 0;
        font-size: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;

        &:hover {
            border-color: transparent;
        }
    }
}

// #support block
.support {
    padding: 70px 0;
    text-align: center;

    p {
        width: 415px;
        margin: 0 auto 20px;
        font-size: 14px;
    }
}

// #footer
footer {
    padding: 30px 0;
    background: #ebf2f5;
    text-align: center;

    small {
        font-size: 14px;
        color: #b4b8bb;
    }
}

// #order page
.order-page {
    background: #f2f5f7;
}

.order {

    .container {
        width: 1010px;
        padding: 65px 70px 70px;
        background: #fff;
        border-radius: 2px;
    }
}

.order-status {
    text-align: center;

    h5 {
        margin: 25px 0 20px;
    }
}

.order-logo {
    display: block;
    width: 140px;
    margin: 40px auto;
}

.order-form {

    label {
        display: block;
        margin-bottom: 5px;

        &.required:after {
            content: '*';
            margin-left: 5px;
            color: #cb4c4c;
        }
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=number],
    textarea,
    label {
        font-size: 14px;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=number],
    textarea {
        padding: 10px 20px;
        border: 2px solid #e5e5e5;
        border-radius: 25px;
    }

    input[type=number] {
        width: 100px;
    }

    input[type=text],
    input[type=email],
    input[type=tel] {
        width: 270px;
    }

    textarea {
        display: block;
        width: 100%;
        height: 90px;
        resize: none;
    }

    fieldset {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        border: none;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: top;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    input[type=radio] {
        display: none;
    }
    input[type=radio] + label {
        cursor: pointer;
    }
    input[type=radio] + label:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px #e5e5e5;
        border-radius: 50%;
        vertical-align: middle;
    }
    input[type=radio]:checked + label:before {
        background: #262626;
    }

    .dropdown {
        width: 270px;
        margin-right: 0;
        padding: 10px 20px;
        border: 2px solid #e5e5e5;
        border-radius: 25px;
    }
    .dropdown.open {
        border-radius: 25px 25px 0 0;
    }
    .dropdown .selected,
    .dropdown li {
        font-size: 14px;
        line-height: normal;
        color: #262626;
    }
    .dropdown .carat {
        width: 9px;
        height: 5px;
        right: 20px;
        margin-top: -2.5px;
        background: url('../img/icon-arrow.png') no-repeat center center;
        background-size: 100% 100%;
        border: none;
    }
    .dropdown.open .carat,
    .dropdown:hover .carat {
        border-color: #262626;
    }
    .dropdown div {
        border: 2px solid #e5e5e5;
        background: #fff;
        border-radius: 0 0 25px 25px;
        box-shadow: none;
    }
    .dropdown div li {
        display: block;
        margin: 0;
        padding: 10px 20px;
    }
    .dropdown div li:hover {
        color: #2194dd;
    }
}

.order-form-title {
    margin: 0 0 5px;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
}

.order-form-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.order-form-quantity {
    margin-top: 55px;

    ul {

        li {
            margin-right: 15px;

            &:nth-child(2) {
                margin-right: 32px;
            }
        }
    }
}

.label {
    display: block;
    width: 21px;
    height: 21px;
    margin: 15px auto 0;
    background: #fff;
    border: 6px solid;
    border-radius: 50%;
}

.black-label {
    border-color: #262626;
}
.yellow-label {
    border-color: #ffe21f;
}

.order-form-contactinfo {
    margin-top: 25px;

    ul {

        li {
            margin-right: 25px;
        }
    }
}

.order-form-delivery {
    margin-top: 40px;

    ul {

        li {
            margin-right: 35px;
        }
    }
}

.order-form-delivery-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.order-form-delivery-info {
    display: none;
    margin-top: 20px;

    p {
        margin: 0;
        font-size: 18px;
    }

    ul {

        li {
            margin-right: 25px;
        }
    }

    &.active {
        display: block;
    }
}

.order-form-comment {
    margin-top: 40px;
}

.order-form-checkout {
    margin-top: 40px;
    padding: 35px 45px;
    background: #f2f5f7;
    border-radius: 2px;
}

.order-form-checkout-left,
.order-form-checkout-right {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.order-form-checkout-right {
    text-align: right;
}

.order-form-checkout-price {
    margin: 2px 0 0;
    font-size: 14px;

    span {
        font-size: 20px;
        font-weight: 500;
    }
}

.order-form-checkout-get {
    width: 280px;
    margin: 0;
    padding: 14.5px 40px;
    text-align: center;
}

.counters {
    margin-top: 15px;

    .container {
        width: 1010px;
    }
}

.modal {
    position: relative;
    width: 770px;
    margin: 0 auto;
    padding: 90px 130px;
    background: #fff;
    border-radius: 2px;
    text-align: center;

    .mfp-close.mfp-close {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        background: #f1f5f7;
        border-radius: 50%;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 500;
    }

    h5 {
        margin: 25px 0 30px;
        font-size: 14px;
        font-weight: 400;
    }

    a {
        margin-left: 0;
        margin-right: 0;
    }
}

#preorder-stopped h5 {
    margin-bottom: 0;
}
