*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  overflow-y: scroll;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.promo {
  min-height: 1115px;
  padding-top: 85px;
  text-align: center;
  background: url('../img/bg-promo.jpg') no-repeat center top;
  background-size: cover;
}
.promo-logo {
  margin: 0;
  font-size: 14px;
}
.promo-logo-img {
  display: block;
  margin: 0 auto 15px;
}
.webnote-info {
  margin-top: -293px;
  padding-bottom: 65px;
  text-align: center;
}
.webnote-info-arrow {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url('../img/icon-arrow.png') no-repeat center center #ebf2f5;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff;
  cursor: pointer;
}
.webnote-info-text {
  width: 700px;
  margin: 45px auto 20px;
  font-size: 14px;
  color: #c4c4c4;
}
.webnote-info-description {
  width: 830px;
  margin: 55px auto 0;
  font-size: 18px;
}
.webnote-news {
  font-size: 14px;
  text-decoration: none;
  color: #2194dd;
  border-bottom: 1px solid #2194dd;
}
.webnote-news:hover {
  border-color: transparent;
}
.advantages {
  padding-bottom: 85px;
}
.advantages .container {
  padding: 50px 0;
  background: #f8f5e4;
}
.advantages-slider {
  position: relative;
  width: 830px;
  margin: 0 auto;
}
.advantages-slider .slick-dots {
  left: 275px;
  bottom: 0;
  padding: 13px 17px;
  background: #fff;
  border-radius: 30px;
}
.advantages-slider .slick-dots li {
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 1px solid #262626;
  opacity: 0.2;
}
.advantages-slider .slick-dots li.slick-active {
  opacity: 1;
  background: #262626;
}
.advantages-img {
  width: 210px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.advantages-img img {
  border-radius: 50%;
  border: 7px solid #f8f5e4;
}
.advantages-content {
  width: 620px;
  padding-top: 15px;
  padding-left: 65px;
}
.advantages-content p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 21px;
}
.advantages-title {
  font-size: 26px;
  font-weight: 500;
}
.slick-slide {
  outline: none;
}
.slick-dots {
  position: absolute;
  margin: 0;
  list-style: none;
}
.slick-dots li {
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots button {
  display: none;
}
.preorder-special {
  padding: 30px 0;
  color: #fff;
  background: #46b7ff;
  text-align: center;
}
.preorder-special .container {
  width: 750px;
}
.preorder-special-info,
.preorder-special-price,
.preorder-special-get {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.preorder-special-info {
  font-size: 20px;
  text-align: left;
}
.preorder-special-info p {
  margin: 0 0 10px;
}
.preorder-special-info small {
  display: block;
  font-size: 12px;
  color: #bce5ff;
}
.preorder-special-price {
  margin: 0 40px;
}
.preorder-special-price span {
  display: block;
}
.special-price,
.preorder-price {
  font-size: 40px;
  font-weight: 500;
}
.default-price {
  padding-top: 2px;
  color: #bce5ff;
  text-decoration: line-through;
}
.button {
  display: inline-block;
  margin-right: -4px;
  padding: 19px 40px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 45px;
}
.button:active {
  position: relative;
  top: 2px;
}
.preorder-special-get {
  color: #fff;
  border: 2px solid #fff;
}
.preorder-special-get:hover {
  background: #fff;
  color: #46b7ff;
}
.preorder {
  padding: 85px 0;
  background: #f1f5f7;
}
.preorder .container:first-child {
  padding: 145px 125px 80px 200px;
  background: #fff;
  border-radius: 2px 2px 0 0;
}
.preorder .container:last-child {
  padding: 0 100px 95px;
  background: #fff;
  border-radius: 0 0 2px 2px;
}
.preorder-slider {
  width: 225px;
  box-shadow: 1px 6px 10px 5px rgba(38, 38, 38, 0.1);
}
.preorder-slider .slick-dots {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}
.preorder-slider .slick-dots li {
  display: block;
  width: 22px;
  height: 22px;
  margin: 10px 0;
  border: 6px solid;
  border-radius: 50%;
}
.preorder-slider .slick-dots li:first-of-type {
  background: #262626;
  border-color: #262626;
}
.preorder-slider .slick-dots li:last-of-type {
  background: #ffe21f;
  border-color: #ffe21f;
}
.preorder-slider .slick-dots li.slick-active {
  background: #fff;
}
.preorder-img {
  width: 225px;
}
.preorder-content {
  padding-left: 90px;
  padding-top: 15px;
}
.preorder-title {
  font-size: 30px;
  font-weight: 500;
}
.preorder-attr {
  margin: 30px 0px;
  padding: 0;
  list-style: none;
}
.preorder-attr li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
}
.preorder-attr li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  border: 1px solid #262626;
  border-radius: 50%;
  opacity: 0.4;
}
.preorder-attr li:last-child {
  margin-bottom: 0;
}
.preorder-price,
.preorder-get,
.preorder-quantity {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.preorder-price {
  font-weight: 700;
  line-height: 1;
}
.preorder-price span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
}
.preorder-get {
  margin: 0 40px;
  color: #262626;
  background: #ffe21f;
  border: none;
  box-shadow: 0 2px 0 1px #cfb60e;
}
.preorder-get:active {
  box-shadow: none;
}
.preorder-quantity {
  font-size: 12px;
  line-height: 17px;
  color: #898989;
}
.webnote-pages-slider {
  margin: 0 -15px 0;
}
.webnote-pages-slider a[data-lightbox] {
  display: block;
  margin: 0 15px;
}
.webnote-pages-slider img {
  display: block;
  width: 100%;
  height: auto;
}
.webnote-pages-slider .slick-dots {
  display: block;
  width: 100%;
  bottom: -45px;
  text-align: center;
  padding: 0;
  list-style: none;
}
.webnote-pages-slider .slick-dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 1px solid #262626;
  opacity: 0.2;
}
.webnote-pages-slider .slick-dots li.slick-active {
  opacity: 1;
  background: #262626;
}
.info {
  padding: 85px 0;
}
.info-delivery,
.info-start {
  width: 50%;
  padding: 0 50px 0 100px;
}
.info-delivery h3,
.info-start h3 {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 500;
}
.info-delivery p,
.info-start p {
  margin: 18px 0;
  font-size: 14px;
  line-height: 21px;
}
.info-delivery p:last-of-type,
.info-start p:last-of-type {
  margin-bottom: 0;
}
.info-delivery {
  background: url('../img/icon-delivery.png') no-repeat left 25px top;
}
.info-start {
  background: url('../img/icon-start.png') no-repeat left 25px top;
}
.vk-group {
  padding: 40px 0;
  color: #fff;
  background: #4c75a3;
  text-align: center;
}
.vk-group img {
  margin-right: 10px;
  vertical-align: -2px;
}
.vk-group p {
  margin: 0;
  font-size: 20px;
}
.vk-group a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.vk-group a:hover {
  border-color: transparent;
}
.support {
  padding: 70px 0;
  text-align: center;
}
.support p {
  width: 415px;
  margin: 0 auto 20px;
  font-size: 14px;
}
footer {
  padding: 30px 0;
  background: #ebf2f5;
  text-align: center;
}
footer small {
  font-size: 14px;
  color: #b4b8bb;
}
.order-page {
  background: #f2f5f7;
}
.order .container {
  width: 1010px;
  padding: 65px 70px 70px;
  background: #fff;
  border-radius: 2px;
}
.order-status {
  text-align: center;
}
.order-status h5 {
  margin: 25px 0 20px;
}
.order-logo {
  display: block;
  width: 140px;
  margin: 40px auto;
}
.order-form label {
  display: block;
  margin-bottom: 5px;
}
.order-form label.required:after {
  content: '*';
  margin-left: 5px;
  color: #cb4c4c;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form input[type=number],
.order-form textarea,
.order-form label {
  font-size: 14px;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form input[type=number],
.order-form textarea {
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
}
.order-form input[type=number] {
  width: 100px;
}
.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel] {
  width: 270px;
}
.order-form textarea {
  display: block;
  width: 100%;
  height: 90px;
  resize: none;
}
.order-form fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}
.order-form fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.order-form fieldset ul li {
  display: inline-block;
  vertical-align: top;
}
.order-form fieldset ul li:last-child {
  margin-right: 0;
}
.order-form input[type=radio] {
  display: none;
}
.order-form input[type=radio] + label {
  cursor: pointer;
}
.order-form input[type=radio] + label:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 50%;
  vertical-align: middle;
}
.order-form input[type=radio]:checked + label:before {
  background: #262626;
}
.order-form .dropdown {
  width: 270px;
  margin-right: 0;
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
}
.order-form .dropdown.open {
  border-radius: 25px 25px 0 0;
}
.order-form .dropdown .selected,
.order-form .dropdown li {
  font-size: 14px;
  line-height: normal;
  color: #262626;
}
.order-form .dropdown .carat {
  width: 9px;
  height: 5px;
  right: 20px;
  margin-top: -2.5px;
  background: url('../img/icon-arrow.png') no-repeat center center;
  background-size: 100% 100%;
  border: none;
}
.order-form .dropdown.open .carat,
.order-form .dropdown:hover .carat {
  border-color: #262626;
}
.order-form .dropdown div {
  border: 2px solid #e5e5e5;
  background: #fff;
  border-radius: 0 0 25px 25px;
  box-shadow: none;
}
.order-form .dropdown div li {
  display: block;
  margin: 0;
  padding: 10px 20px;
}
.order-form .dropdown div li:hover {
  color: #2194dd;
}
.order-form-title {
  margin: 0 0 5px;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
}
.order-form-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.order-form-quantity {
  margin-top: 55px;
}
.order-form-quantity ul li {
  margin-right: 15px;
}
.order-form-quantity ul li:nth-child(2) {
  margin-right: 32px;
}
.label {
  display: block;
  width: 21px;
  height: 21px;
  margin: 15px auto 0;
  background: #fff;
  border: 6px solid;
  border-radius: 50%;
}
.black-label {
  border-color: #262626;
}
.yellow-label {
  border-color: #ffe21f;
}
.order-form-contactinfo {
  margin-top: 25px;
}
.order-form-contactinfo ul li {
  margin-right: 25px;
}
.order-form-delivery {
  margin-top: 40px;
}
.order-form-delivery ul li {
  margin-right: 35px;
}
.order-form-delivery-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.order-form-delivery-info {
  display: none;
  margin-top: 20px;
}
.order-form-delivery-info p {
  margin: 0;
  font-size: 18px;
}
.order-form-delivery-info ul li {
  margin-right: 25px;
}
.order-form-delivery-info.active {
  display: block;
}
.order-form-comment {
  margin-top: 40px;
}
.order-form-checkout {
  margin-top: 40px;
  padding: 35px 45px;
  background: #f2f5f7;
  border-radius: 2px;
}
.order-form-checkout-left,
.order-form-checkout-right {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.order-form-checkout-right {
  text-align: right;
}
.order-form-checkout-price {
  margin: 2px 0 0;
  font-size: 14px;
}
.order-form-checkout-price span {
  font-size: 20px;
  font-weight: 500;
}
.order-form-checkout-get {
  width: 280px;
  margin: 0;
  padding: 14.5px 40px;
  text-align: center;
}
.counters {
  margin-top: 15px;
}
.counters .container {
  width: 1010px;
}
.modal {
  position: relative;
  width: 770px;
  margin: 0 auto;
  padding: 90px 130px;
  background: #fff;
  border-radius: 2px;
  text-align: center;
}
.modal .mfp-close.mfp-close {
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  background: #f1f5f7;
  border-radius: 50%;
  opacity: 1;
}
.modal .mfp-close.mfp-close:hover {
  opacity: 0.8;
}
.modal h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.modal h5 {
  margin: 25px 0 30px;
  font-size: 14px;
  font-weight: 400;
}
.modal a {
  margin-left: 0;
  margin-right: 0;
}
#preorder-stopped h5 {
  margin-bottom: 0;
}
